<form name="contactForm" class="form-horizontal" >
	
	 <venki-field record="contact" field='firstName' required ="true"></venki-field>
	<venki-field record="contact" field='lastName' required ="true"></venki-field>
	<venki-field ng-repeat="(k,v) in contact| filterKey:'firstName'| filterKey:'lastName'" record="contact" field="{{k}}"></venki-field>
	

	<div class="row form-group">
			<div class="col-sm-offset-2">
				<button class="btn btn-primary" ng-click="save(contact)">Save</button>
			</div>
	</div>
</form>